/* decor style */

.decor-background:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to right, rgba(10, 5, 47, 0.85), rgba(49, 29, 94, 0.85));
}