// Typography

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.h {
	font-family: map-deep-get($headings, 'fonts', 'headings-font-family');
	font-weight: bold;
	margin: 0 0 0.5em;
	color: map-deep-get($headings, 'fonts', 'headings-color');
	letter-spacing: 1px;
}

.h1 {
	font-size: map-deep-get($headings, 'sizes', 'h1-font-size');
}

.h2 {
	font-size: map-deep-get($headings, 'sizes', 'h2-font-size');
}

.h3 {
	font-size: map-deep-get($headings, 'sizes', 'h3-font-size');
	@include media('>desktop') {
		font-size: 22px;
		line-height: 24px;
	}
}

.h4 {
	font-size: map-deep-get($headings, 'sizes', 'h4-font-size');
}

.h5 {
	font-size: map-deep-get($headings, 'sizes', 'h5-font-size');
}

.h6 {
	font-size: map-deep-get($headings, 'sizes', 'h6-font-size');
}