/* footer style */

.footer {
	background: #2f2853;
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
	.container {
		@include media('>=desktop') {
			padding: 71px 15px;
		}
	}
	&__top,
	&__bottom {
		@include media('>=tablet') {
			display:flex;
			justify-content: space-between;
		}
	}
	&__top {
		@include media('>=desktop') {
			margin: 0 0 25px;
		}
	}
	&__bottom {
		@include media('>=tablet') {
			align-items: center;
		}
	}
	&__logo {
		display: block;
		margin: 0 0 11px;
		width: 128px;
		img {
			width: 100%;
		}
	}
	&__holder {
		margin: 0 0 30px;
		@include media('>=tablet') {
			width: 31%;
		}
		@include media('>=desktop') {
			line-height: 26px;
		}
		&:not(:first-child) {
			@include media('>=desktop') {
				margin: 18px 0 0;
			}
		}
	}
	&_h4 {
		font: 900 15px/17px map-get($base, 'base-font-sans-serif');
		margin: 0 0 10px;
		letter-spacing: 0.5px;
		@include media('>=desktop') {
			margin: 0 0 31px;
		}
	}
	&__location {
		display: block;
		padding: 0 0 0 20px;
		margin: 0 0 12px;
		position: relative;
		font-style: normal;
		@include media('>=desktop') {
			padding: 0 0 0 29px;
		}
	}
	&__icon-location {
		font-size: 19px;
		position:absolute;
		left:0;
		top:0;
		font-weight: bold;
		@include media('>=desktop') {
			left: -4px;
			top: 4px;
		}
	}
	&__tel {
		color: #fff;
		text-decoration: none;
		display: inline-block;
		vertical-align: middle;
		padding: 0 0 0 20px;
		margin: 0 0 10px;
		position: relative;
		@include media('>=desktop') {
			padding: 0 0 0 29px;
		}
	}
	&__icon-tel {
		font-weight: bold;
		transform: rotate(-90deg);
		font-size: 15px;
		position:absolute;
		left:0;
		top:0;
		@include media('>=desktop') {
			top: 5px;
		}
	}
	&__social {
		@extend %listreset;
		overflow: hidden;
		@include media('>=tablet') {
			display:flex;
			justify-content: space-between;
		}
		@include media('>=desktop') {
			justify-content: flex-start;
		}
	}
	&__social-item {
		float: left;
		margin: 0 6px 0 0;
		@include media('>=tablet') {
			margin: 0;
		}
		@include media('>=desktop') {
			margin: 0 8px 8px 0;
		}
	}
	&__social-link {
		@include animate (opacity);
		font-size: 15px;
		display: block;
		width: 40px;
		height: 40px;
		border-radius: 100px;
		border: 1px solid #fff;
		text-indent:-9999px;
		overflow:hidden;
		position: relative;
		color: #fff;
		@include media('>=tablet') {
			width: 35px;
			height: 35px;
		}
		&:hover {
			opacity: .7;
		}
		i {
			text-indent: 0;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}
	&__nav {
		@extend %listreset;
		font-family: map-get($base, 'base-font-sans-serif');
		font-weight: 400;
		margin: 0 0 20px;
		@include media('>=tablet') {
			margin: 0;
		}
	}
	&__nav-item {
		margin: 0 0 5px;
		@include media('>=tablet') {
			float: left;
			margin: 0 10px 10px 0;
		}
		@include media('>=desktop') {
			margin: 0 38px 10px 0;
		}
	}
	&__nav-link {
		@include animate (opacity);
		text-transform: uppercase;
		text-decoration: none;
		color: #fff;
		&:hover {
			opacity: .8;
		}
	}
	&__copy {
		letter-spacing: 0.5px;
		font-weight: 400;
	}
	&__link-site {
		@include animate (opacity);
		text-decoration: none;
		color: #fff;
		&:hover {
			opacity: .8;
		}
	}
	&__form-wrap {
		margin: 0 0 22px;
		max-width: 290px;
		@include media('>=tablet') {
			max-width: 1000%;
		}
	}
	&__row-form {
		overflow: hidden;
		div.mce_inline_error {
			display: none !important;
		}
	}
	&__icon-form {
		font-size: 25px;
		position:absolute;
		left:50%;
		top:50%;
		transform: translate(-50%,-50%);
		color: #000;
		pointer-events: none;
	}
	&__form-btn {
		@include animate (background);
		height: 35px;
		border: none;
		width: 100%;
		background: rgba(255,255,255,0.5);
		cursor: pointer;
		@include media('>=desktop') {
			height: 45px;
		}
		&:hover {
			background: rgba(255,255,255,0.8);
		}
		&:focus {
			outline: none;
		}
	}
	&__input {
		font-size: 12px;
		margin: 0;
		padding: 3px 5px;
		height: 35px;
		background: transparent;
		border: 1px solid #9f98b1;
		color: #fff;
		width: 100%;
		box-sizing:border-box;
		@include media('>=desktop') {
			font-size: 14px;
			height: 45px;
			padding: 3px 15px;
		}
		&:focus {
			outline: none;
		}
		@include placeholder {
			color: #fff;
		}
	}
	&__form-btn-holder {
		float: right;
		width: 24%;
		position: relative;
	}
	&__row-input {
		float: left;
		width: 75%;
		@include media('>=desktop') {
			width: 72%;
		}
	}
}